<h1>Welcome New User!</h1>
<div>
  <%= form_for @user do |f| %>
    <% if @user.errors.any?%>  
      <div class="error_messages">
        <ul>  
          <% @user.errors.full_messages.each do |msg| %>  
            <li><%= msg %></li>  
          <% end %>  
        </ul>
      </div>  
    <% end %>  
    <fieldset>
      <legend>Input your data</legend>
      <div>
      <%= f.label :name %>
      <%= f.text_field :name, size: 20 %>
      </div>
      <div>
      <%= f.label :mail %>
      <%= f.text_field :mail, size: 30 %>
      </div>
      <div>
      <%= f.label :password %>
      <%= f.password_field :password, size: 20 %>
      </div>
      <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, size: 20 %>
      </div>
      <div>
      <%= f.label :icon %>
      <%= f.file_field :icon %>
      </div>
      <%= f.submit %>
    </fieldset>
  <% end %>
</div>