<div id='wrap'>
  <div id='header'>
    <% if flash[:notice] %>
      <p class='notice'><%= flash[:notice] %></p>
    <% end %>
  </div><!-- /header -->

  <div id='innner'>
    <div id='sideWrap'>
      <% if session[:user_id].nil? %>
        <%= render 'sessions/form' %>
        <%= link_to 'Sign up', new_user_path %>
      <% else %>
        <h4>UserName<br><%= @user.name %></h4>
        <%= link_to 'Sign out', sessions_destroy_path %>
        <%= render 'bweets/form' %>
      <% end %>
    </div><!-- /sideWrap -->
    <div id='mainWrap'>
      <h1>Bweets</h1>
      <div id='bweets'>
        <%= render partial: "bweets", collections: @bweets %>
      </div>
      <button type="submit" id="more_show">More Show 10 Bweets</button>
    </div><!-- /mainWrap -->
  </div><!-- inner -->
  <div class="clear"></div>

  <div id='footer'>
  </div><!-- /footer -->
</div><!-- /wrap -->

<script>
$("#more_show").click(function(){
  $.ajax({
    url: "/",
    type: "get",
    dataType: "html"
  }).done(function(data, status, xhr) {
    data == "" ? alert("Bweetは全て表示されました。") : $("#bweets").append(data);
  }).fail(function(data, status, xhr) {
    alert("error!");
  });
});
</script>